:root {
  --primary-color: #096dd9;
  --accent-color: #1890ff;
  --secondary-color: #69c0ff;
  --white: #fcfcfc;
  --light-gray: #e6f7ff;
  --shadow: #002766;
}

/*
TEMP CSS SETTINGS
*/

.ant-carousel .slick-slide {
  text-align: center;
  height: 200px;
  line-height: 200px;
  background: #364d79;
  overflow: hidden;
}

.ant-carousel .slick-slide h3 {
  color: #fff;
}

/*
TEMP CSS SETTINGS END
*/

body {
  color: var(--accent-color);
  background-color: var(--white);
  position: absolute;
  height: 100vh;
  width: 100vw;
}

#app {
  position: absolute;
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-rows: 64px 1fr 24px;
  grid-template-areas: "header" "body" "footer";
}

#header {
  grid-area: header;
  background-color: var(--primary-color);
  /* box-shadow: 0px 0px 4px 2px var(--shadow); */
  box-shadow: 0 2px 5px var(--shadow);
  z-index: 3;
  padding: 5px 20px 5px 20px;
  flex-direction: row-reverse;
}

#menu {
  background-color: var(--accent-color);
  z-index: 2;
  box-shadow: 0 2px 5px var(--shadow);
  position: fixed;
  top: 0;
  bottom: 0;
  margin-top: 64px;
  width: 300px;
  left: -340px;
  transition: transform 0.3s ease-in;
}

#body {
  grid-area: body;
  padding: 0px 10%;
  background-color: var(--light-gray);
  z-index: 1;
  overflow: auto;
}

#footer {
  grid-area: footer;
  background-color: var(--primary-color);
  z-index: 3;
  box-shadow: 0px 0px 4px 2px var(--shadow);
  color: var(--light-gray);
}

#footer a {
  color: var(--light-gray);
}

#menu.open {
  transform: translateX(340px);
}

.app-header__title {
  display: none;
}

@media (min-width: 800px) {
  #app {
    grid-template-rows: 64px 1fr 24px;
    grid-template-columns: 300px 1fr;
    grid-template-areas: "header header" "body body" "footer footer";
  }
  #header {
    flex-direction: row;
  }
  #menu {
    position: unset;
    top: unset;
    bottom: unset;
    width: unset;
    left: unset;
    margin: 0;
    transform: unset !important;
    transition: unset !important;
    grid-area: menu;
  }
  .menu-toggle {
    display: none !important;
  }
  .app-header__title {
    display: block;
    margin-left: 10px;
  }
}

.full-page-form__container {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  display: grid;
  align-items: center;
  background-color: var(--accent-color);
  overflow: auto;
}

.edit-profile-form__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.edit-profile-row {
  padding-top: 15px;
  padding-bottom: 15px;
}

.institution-members__container {
  display: flex;
  flex-direction: column;
}

.institution-members__title {
  align-items: center;
}

.full-page-form__content {
  border: 1px var(--primary-color) outset;
  border-radius: 4px;
  box-shadow: 4px 4px 16px 0px var(--shadow);
  /* box-shadow: 0 2px 5px var(--shadow); */
  background-color: var(--light-gray);
  padding: 20px !important;
}

.full-page-form__header {
  color: rgba(74, 74, 74, 0.85);
  text-align: center;
}

.full-page-form__divider {
  opacity: 0.5;
}

@media (min-width: 404px) {
  .full-page-form__content {
    width: 400px;
    justify-self: center;
  }
}

.svg-icon {
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}

.fill--primary {
  fill: var(--primary-color);
}

.fill--light-gray {
  fill: var(--light-gray);
}

.centered {
  text-align: center;
}

.space-evenly {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.space-between {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.icon-gear {
  transform-origin: 50% 50% !important;
}

.icon-gear--4 {
  animation: rotate 4s infinite linear;
}

.icon-gear--8 {
  animation: rotate 8s infinite linear;
}

.icon-gear--16 {
  animation: rotate 16s infinite linear;
}

@keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex--centered {
  justify-content: center;
}

.flex--aligned {
  align-items: center;
}

.flex-spacer {
  flex: 1 1 auto;
}

.flex--align-self-center {
  align-self: center;
}

.app-header {
  font-size: 2rem;
  font-weight: 600;
  padding-left: 20px;
  color: var(--light-gray);
}

.header__profile a {
  color: var(--light-gray);
  padding-left: 10px;
}

.members-filter-dropdown {
  padding: 8px;
  border-radius: 6px;
  background: #fff;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);
}

.members-filter-dropdown input {
  width: 130px;
  margin-right: 8px;
}

.members-filter-highlight {
  color: #f50;
}

.avatar-upload > .ant-upload {
  width: 200px;
  height: 300px;
}

.avatar-preview {
  width: 150px;
  height: 150px;
}

.has-error .ant-upload-select-picture-card {
  border-color: #f5222d !important;
  /* default ant error color */
}

.crop-app {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.crop-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 80px;
}

.crop-controls {
  box-sizing: border-box;
  position: absolute;
  bottom: 0;
  left: 0%;
  width: 100%;
  padding: 0 16px;
  height: 80px;
  align-items: center;
}

.ant-slider {
  padding: 0 !important;
}

.profile__header {
  background-color: #fff;
  border-radius: 3px;
  -webkit-box-shadow: 0px 0px 6px 1px rgba(143, 143, 143, 1);
  -moz-box-shadow: 0px 0px 6px 1px rgba(143, 143, 143, 1);
  box-shadow: 0px 0px 6px 1px rgba(143, 143, 143, 1);
}

.profile__header-cover {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.profile__header-pic {
  width: 140px;
  margin: -90px 0 0 20px;
  border: solid white 3px;
  border-radius: 50%;
}

.profile__header-title {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
}

.profile__header-title-info-name {
  font-size: 22px;
}

.profile__header-title-info-position {
  font-size: 16px;
}

.profile__header-title-info-address a:before {
  content: "•";
  margin: 0 10px;
  color: #525252;
}

.profile__header-title-logo {
  font-size: 13px;
  font-weight: bold;
}

.profile__header-title-logo img {
  width: 26px;
  padding-right: 10px;
}

.profile__module {
  margin: 20px 0;
  border-radius: 3px;
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 6px 1px rgba(143, 143, 143, 1);
  -moz-box-shadow: 0px 0px 6px 1px rgba(143, 143, 143, 1);
  box-shadow: 0px 0px 6px 1px rgba(143, 143, 143, 1);
}

.profile__module-header {
  display: flex;
  justify-content: space-between;
  padding: 20px 20px 0 20px;
}

.profile__module-header-title {
  font-size: 16px;
}

.profile__module-header-add {
  color: var(--primary-color);
  font-size: 25px;
  padding: 0;
  border: none;
  background: none;
}

.profile__module-header-add-text {
  padding: 0;
  margin-left: 20px;
  border: none;
  background: none;
}

.profile__module-header-add:hover {
  color: var(--accent-color);
  cursor: pointer;
}

.profile__module-header-add-text:hover {
  color: var(--accent-color);
  cursor: pointer;
}

.profile__module-content-edit {
  padding: 0;
  border: none;
  background: none;
}

.profile__module-content-edit:hover {
  color: var(--accent-color);
  cursor: pointer;
}

.profile__module-content {
  padding: 10px 20px;
  display: flex;
  flex-wrap: wrap;
}

.profile__module-content-logo {
  flex: 0 0 80px;
}

.profile__module-content-logo img {
  width: 50px;
  height: 50px;
}

.profile__module-content-title {
  font-weight: bold;
  justify-content: space-between;
  display: flex;
}

.profile__module-content-subtitle {
  font-size: 12px;
}

.profile__module-content-time {
  font-size: 12px;
  color: gray;
}

.profile__module-content-location {
  font-size: 12px;
  color: gray;
}

.profile__module-content-description {
  font-size: 12px;
  padding-top: 5px;
}

.profile__module-content-group-header {
  display: flex;
  flex: 0 0 100%;
}

.profile__module-content-position {
  flex: 0 0 100%;
  padding-left: 80px;
  position: relative;
  margin: 0;
  padding-bottom: 1em;
}

.profile__module-content-position:before {
  background-color: #c00;
  width: 2px;
  content: "";
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 23px;
}

.profile__module-content-info {
  flex-grow: 1;
}

.profile__module-showmore button {
  border: none;
  background: none;
  color: var(--primary-color);
}

.profile__module-showmore button:hover {
  color: var(--accent-color);
  cursor: pointer;
}

.profile__module-showmore {
  text-align: center;
  padding-bottom: 5px;
}

.profile__module-showmore hr {
  opacity: 0.5;
}

.profile__module-skill {
  padding: 20px;
}

.profile__module-skill-title {
  font-weight: bold;
}

.profile__module-skill-title span {
  color: gray;
  font-size: 12px;
}

.profile__module-skill-title span:before {
  content: "•";
  margin: 0 5px;
  color: gray;
}

.profile__module-skill-endorsement {
  display: flex;
}

.profile__module-skill-endorsement-by {
  flex: 50%;
  display: flex;
  padding-right: 20px;
}

.profile__module-skill-endorsement-by-logo {
  flex: 0 0 30px;
  display: flex;
  align-items: center;
}

.profile__module-skill-endorsement-by-logo img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.profile__module-skill-endorsement-by-text {
  padding-left: 10px;
  font-size: 12px;
}

.profile__module-skill-endorsement-by-text span {
  font-weight: bold;
}

.profile__module-accomplishement {
  display: flex;
  padding: 20px;
}

.profile__module-accomplishement-count {
  flex: 0 0 40px;
}

.profile__module-accomplishement-count span {
  float: right;
  font-size: 28px;
  color: var(--primary-color);
}

.profile__module-accomplishement-text {
  flex-grow: 1;
  padding-left: 10px;
}

.profile__module-accomplishement-title {
  color: var(--primary-color);
  font-weight: bold;
  font-size: 12px;
}

.profile__module-accomplishement-content span:before {
  content: "•";
  margin: 0 5px;
  color: gray;
}

.profile__module-accomplishement-title button {
  font-size: 16px;
  float: right;
  border: none;
  background: none;
  padding: 0;
}

.profile__module-accomplishement-title button:hover {
  color: var(--accent-color);
  cursor: pointer;
}

.profile__module-interest {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
}

.profile__module-interest-item {
  flex: 0 0 50%;
  padding-right: 20px;
  padding-bottom: 30px;
  display: flex;
}

.profile__module-interest-item-logo {
  flex: 0 0 50px;
  display: flex;
  align-items: center;
}

.profile__module-interest-item-logo img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.profile__module-interest-item-text {
  padding-left: 10px;
  font-size: 12px;
}

.profile__module-interest-item-title {
  font-weight: bold;
  font-size: 14px;
}

.profile__module-interest-item-member {
  color: gray;
}
