{
  "version": "{{version}}",
  "database": {
    "dbName": "{{dbName}}",
    "userName": "{{dbUserName}}",
    "password": "{{dbPassword}}",
    "url": "{{dbUrl}}",
    "port": "{{dbPort}}"
  },
  "api": {
    "url": "{{apiUrl}}",
    "port": "{{apiPort}}",
    "rootDir": "{{{rootDir}}}"
  }
}